---
import Dialog from '../../components/Dialog.astro';
import Img from '../../components/Img.astro';
import Layout from '../../layouts/Layout.astro';

const { album } = Astro.params;

const response = await fetch(`https://photoslibrary.googleapis.com/v1/mediaItems:search`, {
	method: 'POST',
	headers: {
		'Content-Type': 'application/json',
		Authorization: `Bearer ${import.meta.env.AccessToken}`,
	},
    body: JSON.stringify({
        albumId: album,
        pageSize: 50,
    })
});
const datas = await response.json();
// console.log(datas);
---

<Layout title="g-galery>album">
    <main style="grid-area: main;">
        <div class="img-container">
            {datas.mediaItems ? 
                (datas.mediaItems.map((item, index) => <Img index={index} id={item.id} url={item.baseUrl} data={item} />)) : (<span class="error">No images</span>)
            }
        </div>

        <Dialog id="dialog" data={datas.mediaItems} />

    </main>
</Layout>

<style>
    .img-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: var(--grid-gap);
    }
</style>