---
import Layout from '../layouts/Layout.astro';

import Card from '../components/Card.astro';
import AlbumCard from '../components/AlbumCard.astro';
import MediaItems from '../components/MediaItems.astro';
import Dialog from '../components/Dialog.astro';

const responseAlbums = await fetch(`https://photoslibrary.googleapis.com/v1/albums`, {
	method: 'GET',
	headers: {
		'Content-Type': 'application/json',
		Authorization: `Bearer ${import.meta.env.AccessToken}`,
	},
});
const datas = await responseAlbums.json();
// console.log(datas);
const responseMedia = await fetch(`https://photoslibrary.googleapis.com/v1/mediaItems`, {
	method: 'GET',
	headers: {
		'Content-Type': 'application/json',
		Authorization: `Bearer ${import.meta.env.AccessToken}`,
	},
});
const mediaItems = await responseMedia.json();
---

<Layout title="g-galery">
	<main style="grid-area: main;">

		<b>Recent images</b>
		<MediaItems data={mediaItems.mediaItems} />
		<hr>

		<div class="albums-container">
			{ datas.albums ? ( datas.albums.map(data => <AlbumCard data={data} />) ) : ( <span class="error">No albums</span> )}
		</div>
		<br>

		<Dialog id="dialog" data={mediaItems.mediaItems} />

	</main>
</Layout>

<style>
	.albums-container {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 1rem;
		padding: 0;

		position: relative;
		overflow: hidden;
	}
</style>
