---
import Layout from '../../layouts/Layout.astro';

const { image } = Astro.params;

const response = await fetch(`https://photoslibrary.googleapis.com/v1/mediaItems/${image}`, {
	method: 'GET',
	headers: {
		'Content-Type': 'application/json',
		Authorization: `Bearer ${import.meta.env.AccessToken}`,
	}
});
const datas = await response.json();
// console.log(datas);
---

<Layout title="g-galery>image">
    <main style="grid-area: main;">
        {datas.id ?
            (
                <div class="img-container">
                    <img src=`${datas.baseUrl}=w2048-h1024` alt="Cover">
                    <ul class="img-info">
                        <li><b>{datas.filename}</b></li>
                        <li><b>{datas.mediaMetadata.creationTime}</b></li>
                        <li>Camera</li>
                        <li>Brand: <b>{datas.mediaMetadata.photo.cameraMake}</b></li>
                        <li>Model: <b>{datas.mediaMetadata.photo.cameraModel}</b></li>
                        <li>Focal: <b>{datas.mediaMetadata.photo.focalLength}</b></li>
                        <li>Apertur: <b>{datas.mediaMetadata.photo.apertureFNumber}</b></li>
                        <li>Iso: <b>{datas.mediaMetadata.photo.isoEquivalent}</b></li>
                        <li>Exposure: <b>{datas.mediaMetadata.photo.exposureTime}</b></li>
                    </ul>
                </div>
            ) : 
            (<span class="error">'No data'</span>)
        }
        
    </main>
</Layout>

<style>
    .img-container {
        margin: -1rem;
        padding: 0;
        img {
            position: relative;
            width: 100%;
            max-height: 99vh;
            object-fit: contain;
        }
        ul {
            opacity: 0.8;
            font-size: 0.6rem;
            margin: 0;
            padding: 6px;
            list-style: none;
            height: fit-content;
            width: 100%;
        }
    }
    
</style>